<!DOCTYPE html>
<html>
    <head>
        <title>Read</title>
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <form id="f" enctype="multipart/form-data" method="post">
            <input id="roomInput" type="text" name="room" placeholder="Room" />
            <input id="userInput" type="text" name="user" placeholder="Username" />
            <input id="i" type="file" name="file" />
            <input type="submit" onclick="document.getElementById('f').action='/upload/'+document.getElementById('roomInput').value" />
        </form>
    </body>
</html>