<!DOCTYPE html>
<html>
    <head>
        <title>Read</title>
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <form id="login" action="/" >
            <input id="roomInput" type="text" name="room" placeholder="Room" />
            <input id="userInput" type="text" name="user" placeholder="Username" />
            <input type="submit" onclick="document.getElementById('login').action='/'+document.getElementById('roomInput').value" value="Login" />
        </form>
        <br />
        <br />
        <form id="fileUpload" target="uploadFrame" enctype="multipart/form-data" method="post">
            <input id="i" type="file" name="file" />
            <input type="submit" onclick="document.getElementById('fileUpload').action='/upload/'+document.getElementById('roomInput').value" value="Upload" />
        </form>
        <iframe name="uploadFrame" />
    </body>
</html>