<!DOCTYPE html>
<html>
    <head>
        <title>Read</title>
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/static/js/read.js"></script>
    </head>
    <body>
        <input id="room" type="hidden" value=<%= room %> />
        <input id="user" type="hidden" value=<%= user %> />
        test
    </body>
</html>