body {
	padding-top: 60px;
}

p {
	font-family: helvetica, arial, sans-serif;
}

.page-content {
	margin: 40px;
}

#magazine {
	width: 800px;
	height: 600px;
	margin: auto;
}

#magazineholderholder {
	width: 100%;
}

#magazineholder {
	width: 800px;
	height: 600px;
	margin: auto;
	position: relative;
	left: -200px;
}

.turn-page {
	background: #B7B3BA;
	width: 400px;
	height: 600px;
}

.turn-page-wrapper {
	overflow: hidden;
}