body {
	padding-top: 60px;
}

.page-content {
	margin: 20px;
}

#magazine {
	width: 800px;
	height: 600px;
}

.turn-page {
	background: #B7B3BA;
	width: 400px;
	height: 600px;
}

.turn-page-wrapper {
	overflow: hidden;
}